<!DOCTYPE html>
<title> CS Image Editor </title>
<!--   -->
<html>
<head>
<link rel="stylesheet" href="css/styleeditor.css">
<link rel="icon" href="images/image.png">
<link rel="import" href="url('https://fonts.googleapis.com/css?family=Lato:400,700,900|Open+Sans:300,400|Oswald:400,700');">
<meta charset="utf-8"/>
    <style type="text/css">

    </style>
</head>
<body>
<h2 class="text-center" style="color:white;">Edit Image</h2>
<br>
	<div class="Image-Edit-Card" alt="" height="auto" width="auto">
		<div class="Image-Edit">
			<div class="Center">
	<img style="text-align:center;display:none;" id="image1" src="showImage()" alt="" height="auto" width="auto">
		<canvas id="myCanvas" width="100" height="100"></canvas>
			</div>
<br id=Break class=Break>
<br>
<!--------> <!-------->
<b>
	<!-------->
			<div class=tooltip>
	<label for="vibranceInput" class="p">Vibrance</label>
			<span class="tooltiptext">Increases/ Decreases strength of each color.</span></div>
	<br>
		<br>
	<input type="range" id="vibranceInput" min="-150" max="150" value="0" step="5" onchange="Apply()" class=vibranceslider>
	<br>
		<br>
	<!-------->
			<div class=tooltip>
	<label for=brightInput class="p">Brightness</label>
			<span class="tooltiptext">Brightens/ Darkens image.</span></div>
	<br>
		<br>
	<input type="range" id="brightInput" min="-100" max="100" step="5" value="0" onchange="Apply()" class=brightnessslider>
	<br>
		<br>
	<!-------->
			<div class=tooltip>
	<label for=contrastInput class="p">Contrast</label>
			<span class="tooltiptext">Increases/ Decreases difference in color values.</span></div>
	<br>
		<br>
	<input type="range" id="contrastInput" min="-100" max="100" step="5" value="0" onchange="Apply()" class=contrastslider>
	<br>
		<br>
	<!-------->
			<div class=tooltip>
	<label for=hueInput class="p">Hue Shifter</label>
			<span class="tooltiptext">Moves each color of the image to the right/ left on the color spectrum.</span></div>
	<br>
		<br>
	<input type="range" id="hueInput" min="0" max="300" step="10" value="0" onchange="Apply()" class=hueslider>
	<br>
		<br>
	<!-------->
			<div class=tooltip>
	<label for=noiseInput class="p">Noise</label>
			<span class="tooltiptext">Adds static.</span></div>
	<br>
		<br>
	<input type="range" id="noiseInput" min="0" max="50" step="1" value="0" onchange="Apply()" class=noiseslider>
	<br>
		<br>
	<!-------->
			<div class=tooltip>
	<label for=tintOpacityInput class="p">Tint and Tint Strength</label>
			<span class="tooltiptext">Choose a color with the color box. Then, choose the opacity of the color overlay.</span></div>
	<br>
		<br>
	<input type="color" id="tintInput" onchange="Apply()" class=tintpicker>
	<input type="range" id="tintOpacityInput" onchange="Apply()" min="0" max="100" step="5" value="0" class=tintslider>
	<br>
		<br>
	<!-------->
			<div class=tooltip>
	<label for=invertInput class="p">Invert Colors</label>
			<span class="tooltiptext">Inverts each color of the image.</span></div>
	<br>
		<br>
	<input type="range" id="invertInput" min="0" max="1" step="1" value="0" onchange="Apply()" class=invertslider>
	<br>
		<br>
	<!-------->
			<div class=tooltip>
	<label for=greyscaleInput class="p">Remove Color</label>
			<span class="tooltiptext">Changes alll colors to different values of grey.</span></div>
	<br>
		<br>
	<input type="range" id="greyscaleInput" min="0" max="1" step="1" value="0" onchange="Apply()" class=greyscaleslider>
	<br>
		<br>
	<!-------->
</b>
	<!--------> <!-------->
	<!-- <b>
	<button style="font-family: Helvetica ; font-size: 20px; font-weight: bold; background-color: white; padding: 10px; box-shadow: 0px 0px 3px #000; margin: 20px"
	onclick="FlipX()">Flip Horizontally</button> -->
	<!-------->
	<!-- <button style="font-family:Helvetica; font-size: 20px; font-weight: bold; background-color: white; padding: 10px; box-shadow: 0px 0px 3px #000; margin: 20px"
	onclick="FlipY()">Flip Vertically</button> -->
	<!-------->
	<!-- <button style="font-family:Helvetica; font-size: 20px; font-weight: bold; background-color: white; padding: 10px; box-shadow: 0px 0px 3px #000; margin: 20px"   onclick="RotateR();Break()">Rotate Right</button> -->
	<!-------->
	<!-- <button style="font-family:Helvetica; font-size: 20px; font-weight: bold; background-color: white; padding: 10px; box-shadow: 0px 0px 3px #000; margin: 20px"   onclick="RotateL();Break()">Rotate Left</button>
	</b> -->
	<!-------->
		<input type="button" onclick="Save()" id="savebtn" class="btn btn-success" value="Save Image">
		<br>
			<br>
	</div>
</div>
<script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
<script>
	function success(data) {
		 image1.src = data.name;

	}
	function internet(data) {
		image1.src = data.name;
	}
	function showImage(data){
		$.get("/request", {index:0},internet);
		ImName=data.imageName
		return ImName;
	}
    $(document).ready(showImage);   
</script>
	<!-------------------------------------->
<script src="https://cdnjs.cloudflare.com/ajax/libs/camanjs/4.1.2/caman.full.min.js" integrity="sha512-JjFeUD2H//RHt+DjVf1BTuy1X5ZPtMl0svQ3RopX641DWoSilJ89LsFGq4Sw/6BSBfULqUW/CfnVopV5CfvRXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="js/caman.js"></script>
</body>
</html>
