<html>
<link rel="stylesheet" href="/css/stylelogin.css">

<h1 class="LoginText" style="color:white;">Login </h1>
<div>
<br>
<%- include ('./partials/messages') %>
<form action="/users/login" method="POST">
<div class="Image-Edit-Card">
  <label class= "emailText" style="color:white;" for="email">Email</label>
<input
type="email"
name="email"
placeholder=" Enter Email"
/>

<div>
  <br>
    <label class= "passwordText" style="color:white;" for="password">Password</label>
    <input
      type="password"
      name="password"
      placeholder=" Enter Password"
    />
    <div>
  <br>
<div id="wrapper">
<button type="submit" class="btn btn-primary btn-block">Login</button>
</div>

  </div> 
   <br>
<p style="color:white;" >Dont Have An Account?  <br>
  <br>
  <a href="/users/register"> Register</a></p>

</form>
</html>