<html>
<link rel="stylesheet" href="css/stylewelcome.css">
<h1 class="WelcomeText" style="color:white;">Welcome!</h1>
<br>

<br>
<div class="Image-Edit-Card">
	<p class="CreateText" style="color:white;">Don't have an account yet?</p>
<a class="RegisterText" href="/users/register" class="btn btn-primary btn-block mb-2"
  >Register</a>
  <br>
  <p class="CreateText" style="color:white;">Already have an account?</p>
<a class="LoginText" href="/users/login"> Login</a>
</div>
</html>