@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900|Open+Sans:300,400|Oswald:400,700');
* { padding: 0; margin: 0; box-sizing: border-box }
body {font-family:'Lato',sans-serif;padding: 30px;background: #eaebeb;}

/**************/


.LoginText{
text-align: center;
font-size: 80px;
margin-bottom: 10px;
text-shadow: 0px 0px 5px #000;
}


.Image-Edit-Card{
	margin: auto;
	display: table;
	//background: #fff;
	opacity: 1;
	padding: 30px 40px;
	box-shadow: 0px 0px 5px #ddd;

}
.emailText{
display: block;
text-align: center;
font-size: 20px;
margin-bottom: 10px;
text-shadow: 0px 0px 5px #000;
}
.passwordText{
display: block;
text-align: center;
font-size: 20px;
margin-bottom: 10px;
text-shadow: 0px 0px 5px #000;
}

.Login{
	display: block;
	align-items: center;
}

#wrapper {
  
  
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  height: 20px;
  width: 100px;
}

body {
  background-image: url('background.gif');
  background-repeat: no-repeat;
  background-size: cover;
  
}