<link rel="stylesheet" href="/css/stylelogin.css">
<% if(typeof errors!= 'undefined') { %>
<%    errors.forEach(function(error){ %>
        <p> <%= error.msg %></p>
<%    })        %>
<% } %>

<% if(success_msg!= '') { %>
        <p class="errorText"><%= success_msg %> </p>
      <% } %>

<% if(error_msg != '') { %>
      <p class="errorText"><%= error_msg %></p> 
      <% } %> 
<% if(error != '') { %>
       <p class="errorText"><%= error %> </p>
      <% } %>
